<br />
<div class="row">
	<% @user.searches.each do |search| %>
		<div class="medium-3 columns" id="view-terms">
			<a href="#"><img src="http://imgur.com/eOjV6Lm.png" /></a>
			<%= search.created_at.to_formatted_s(:long) %>
		</div>
	<% @terms = Term.where(:search_id => search.id) %>
		<% @terms.each do |term| %>
			<div class="medium-9 columns" id="view-terms">
				<%= term.text %>
			</div>
		<% end %>
		<br />
	<% end %>
</div>

