html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}


#map-canvas {
  width: 100%;
  height: 100%;
  img{max-width: none;}
}



#map {
	position: absolute;
	width: auto; 
	height: auto;
	top:40px; 
	left: 0;
	right: 0;
	bottom: 0;
}