@import "foundation/components/buttons";

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}


#map-canvas {
  width: 100%;
  height: 100%;
  img{max-width: none;}
}

#map {
	position: absolute;
	width: auto; 
	height: auto;
	top:45px; 
	left: 0;
	right: 0;
	bottom: 0;
}

.off-canvas-wrap {
	height: 100%;
	overflow-y: auto;
}

.move-right {
	overflow-y: hidden;
}
.page-wrapper {
	height: 100%;
}

.search {
	margin-left: 30%;
	margin-top: 10%; 
}

.search-colored:nth-child(1) {
	h4 {
		background: #BA3223;
	}
}

.search-colored:nth-child(2) {
	h4 {
		background: #2358BA;
	}
}
.search-colored:nth-child(3) {
	h4 {
		background: #30F233;
	}
}

#marker-beep {
	h4 {
		background: #2358BA;
	}
}


/* USER PROFILE VIEW */

.logo {
	position: absolute;
	left: 38%;
	top: 100px;
	padding: 30px;
	z-index: 10;
	background-color: black;
	color: white;
	border-radius: 10px;
	
}

.profile-background {
	background-color: #1780C2;
}

.search-history {
	padding: 10px 40px 10px 20px;
}

.recent-searches {
	padding-left: 5%;
	margin-top: 220px;
}
.top-searches {
	padding-left: 5%;
	margin-top: 220px;
}

.background {
	background-image: url("WorldHeatMapGrey.png");
	padding-top: 30px;
	padding-bottom: 200px;
}


/* DEVISE VIEWS */

.container {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-family: helvetica;
	color: black;
}

.title {
	font-family: helvetica;
	font-weight: bold;
	color: black;
}

#user_email {
	width: 35%;
	margin: 0 auto;
}

#user_password {
	width: 35%;
	margin: 0 auto;
}

#user_password_confirmation {
	width: 35%;
	margin: 0 auto;
}

#user_current_password {
	width: 35%;
	margin: 0 auto;
}

.form-label {
	font-size: 18px;
}

.bttn {
	background: white;
	font-family: helvetica;
	line-height: 1;
	font-size: 13px;
	border: 1px solid black;
	color: black;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.bttn:hover {
	background: red;
	transition: .5s ease-out;
}

.link {
	color: black;
}

#button {
text-align: center;
}

/* Home Page View */

$padding: 1rem;
$bg: #FA956A;
$radius: true;

.custom-button-class {
  @include button($padding, $bg, $radius);
}

.new-search {
	position: absolute;
	left: 43%;
	top: 5px;
}



